<h1> update/edit/New tasks</h1>
<p> These are the tasks </p>
<%= form_for @task do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.text_field :done %>
  <%= f.submit %>
<% end %>
