<!-- <h1>All these tasks can be changed</h1>
<p>What task do you wanna destroy? </p>
<%= form_for @task  |f| %>
  <%= f.text_field  %>
  <%= f.text_field %>
  <%= f.text_field %>
  <%= f.submit %>
<%  %> -->

<!-- directly with #show -->
